<ion-view ng-controller="PeopleCtrl" title="&gt; github-crew" class="login-form">
  <ion-content>
    <div>
      <div class="padding">
        <br/>
        <center><h1 style="color:#ecf0f1;margin-top:20px">&gt; github-crew</h1></center>
        <img src="img/githubcat.png" style="width:100%;"/>
        <br/>
        <button ng-click="login()" class="button button-block button-light button-clear"
        style="font-size:15pt">
        Login With Github
      </button>
    </div>
  </div>
</ion-content>
</ion-view>
