<ion-view view-title="About">
  <ion-content class="padding">

    <div class="list card">

  <div class="item item-avatar">
    <img src="img/ionic.png">
    <h2>github-crew-ionic</h2>
    <p>@lexmartinez [dev-outsider - 2016]</p>
  </div>

  <div class="item item-body">
    <p>
      <b>Github People Advisor:</b><br/>
      Find interesting and known people profiles on Github.
      Front-end of previous project github-crew
      <br/>
      Project Keywords: <pre>Ionic Framework Github API AngularJS</pre>
    </p>
    <p>
      <a href="https://github.com/lexmartinez/github-crew-ionic" class="subdued">https://github.com/lexmartinez/github-crew-ionic</a>
    </p>
  </div>

</div>
  </ion-content>
</ion-view>
