<ion-view view-title="About">
  <ion-content class="padding">

    <div class="list card">

  <div class="item item-avatar">
    <img src="img/ionic.png">
    <h2>github-crew-ionic</h2>
    <p>[dev-outsider-team - 2016]</p>
  </div>

  <div class="item item-body">
    <p>
      <b>&gt; Github People Advisor:</b><br/>
      Find interesting and known people profiles on Github.
      Front-end of previous project github-crew
    </p>
    <p>
      <a href="https://github.com/lexmartinez/github-crew-ionic" class="subdued">https://github.com/lexmartinez/github-crew-ionic</a>
    </p>
  </div>

  <ion-list>

    <div class="item item-divider">
      &gt; dev-outsider-team
    </div>

    <ion-item class="item-avatar item-icon-right" type="item-text-wrap">
      <img ng-src="https://avatars.githubusercontent.com/u/17863319?v=3"/>
      <h2>@lexmartinez</h2>
      <p>https://github.com/lexmartinez</p>
    </ion-item>

    <ion-item class="item-avatar item-icon-right" type="item-text-wrap">
      <img ng-src="https://avatars.githubusercontent.com/u/11079570?v=3"/>      
      <h2>@exteban34</h2>
      <p>https://github.com/exteban34</p>
    </ion-item>

    <ion-item class="item-avatar item-icon-right" type="item-text-wrap">
      <img ng-src="https://avatars.githubusercontent.com/u/3493015?v=3"/>
      <h2>@jsrestrepom</h2>
      <p>https://github.com/jsrestrepom</p>
    </ion-item>
  </ion-list>

</div>
  </ion-content>
</ion-view>
